body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-size: cover;
  }
  
  button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #00e6e6, 0 0 30px #00e6e6, 0 0 40px #00e6e6, 0 0 50px #00e6e6;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  #exerciseInfo {
    margin-top: 20px;
    font-size: 24px;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #ff80ff, 0 0 20px #ff80ff, 0 0 30px #ff80ff, 0 0 40px #ff80ff, 0 0 50px #ff80ff;
  }
  
  #timer {
    font-size: 28px;
    margin-top: 20px;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 15px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00, 0 0 50px #00ff00;
  }